.custom-select {
  position: relative;
  display: inline-block;
}

.icon-button {
  font-size: 24px;
  padding: 10px;
  border: 1px solid #7b198426;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-content {
  position: absolute;
  right: 15%;
  background-color: #fef9f9;
  min-width: 160px;
  border: 1px solid #7b198426;
  box-shadow: 0px 4px 4px 0px #7b19841f;
  z-index: 9999;
  border-radius: 12px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.fa-plus-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00000033;
  cursor: pointer;
}
