.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 4rem 0;
  border-radius: 20px;
  max-width: 90%;
}

.modal-body {
  gap: 0 !important;
  border: 1px solid #0000001a;
}

.modal-icon {
  position: absolute;
  top: 20px;
  right: 15px;
}

.edit-mode {
  padding: 1rem;
  border: 1px solid #0000001a;
}

.edit-mode .task-title {
  width: 630px;
  height: 38px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #00000021;
  padding: 0 1.2rem;
  background: #f1f1f15c;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.edit-mode .task-title::placeholder {
  color: #1e212a;
  opacity: 0.4;
}

.edit-mode .task-description {
  width: 630px;
  height: 123px;
  opacity: 0px;
  padding: 1rem 1.2rem;
}

.edit-mode input,
.edit-mode textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.view-mode h3 {
  margin: 0;
}

.view-mode p {
  margin: 0.5rem 0;
}

.modal-content .action-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 1rem;
  bottom: 13px;
}

.modal-content .action-buttons button {
  margin-left: 0.5rem;
}

.modal-content .action-buttons .save-button {
  padding: 10px 31px 10px 31px;
  border-radius: 41px;
  background: #7b1984;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: none;
  color: #ffffff;
}

.modal-content .action-buttons .cancel-button {
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  border: 1px solid #00000030;
  background: #ffffff;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #090909;
}

.task-info {
  margin-top: 1.5rem;
}

.task-info .task-category p,
.task-info .task-due label,
.task-info .task-status p {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #00000099;
  margin-bottom: 0.7rem;
}

.task-info .task-category-options p {
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  font-family: Mulish;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.task-info .task-category-options p {
  background: #ffffff;
  border: 1px solid #00000030;
  color: #090909;
}

.task-info .task-category-options p.active {
  background: #7b1984;
  border: 1px solid #00000030;
  color: #ffffff;
}

.task-info .task-due label {
  display: block;
}

.task-info .task-due input {
  display: block;
  margin-bottom: 0.7rem;
  width: 195px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #00000021;
  background: #f1f1f15c;
  color: #000000;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding: 0 0.7rem;
}

.task-status-select {
  padding: 0 0.7rem;
  width: 195px;
  height: 32px;
  border-radius: 8px;
  background: #f1f1f15c;
  border: 1px solid #00000021;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #000000;
  margin-bottom: 0.7rem;
}

.attachments {
  margin-top: 1rem;
}

.attachments .attachment-title {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  color: #00000099;
  margin-bottom: 0.7rem;
}

.file-preview-grid {
  margin-top: 1rem;
}

.file-preview-grid .file-preview-item .file-preview-img {
  width: 160px;
  height: 117px;
  border-radius: 8px;
}

.file-preview-image {
  position: relative;
  width: 160px;
  height: 117px;
}

.file-preview-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 0.3px solid #00000026;
  background: #fafafa;
  color: #121212;
  padding: 5px;
}

.action-buttons .save-button:disabled {
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  opacity: 0.5;
  background: #7b1984;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: not-allowed;
}

.activity {
  width: 357px;
  height: 422px;
}

.activity h4 {
  padding: 1rem;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #00000099;
}

.activity .activities {
  padding: 1rem;
  height: 100%;
  z-index: -1;
  background: #f1f1f1;
}

.activity-item {
  margin-bottom: 0.5rem;
}

.activity-item p:first-child {
  opacity: 0.8;
  font-family: Mulish;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  color: #1e212a;
}

.activity-item p:last-child {
  opacity: 0.5;
  font-family: Mulish;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  color: #1e212a;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 2rem;
  }

  .task-info,
  .activity {
    flex-direction: column;
    width: 100%;
  }

  .task-title {
    font-size: 1.2rem;
  }

  .action-buttons button {
    padding: 12px 24px;
  }
}
